thead {
  color: #337ab7;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid whitesmoke;
  padding-right: 24px;
  text-align: center;
  font-style: italic;
}

.mat-column-name {
  padding-left: 20px;
  text-align: left;
  font-style: italic;
}

.mat-column-run_active_duration_str {
  font-style: italic;
}

.mat-column-run_end_time_str {
  font-style: italic;
}

.mat-column-run_start_time_str {
  font-style: italic;
}

.nikeruns-table {
  min-height: 360px;
  margin-top: 10px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.nikeruns-table tr:hover {
  background: royalblue;
  cursor: pointer;
}

.nikeruns-listview {
  text-align: center;
  width: auto;
  margin: 10px auto;
}

.nikeruns-table-pager {
  width: auto;
}
